@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100vh;
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-color: #0B0E17;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 2rem;
    margin: 1rem;
}

.nav__hamburger {
    margin: 1rem;
    cursor: pointer;
}

.nav__items {
    margin: 1rem;
    z-index: 20;
    position: fixed;
    right: 0;
    transition: all ease-in 100ms;
    border-radius: 5px;
    padding: 0.5rem;
    display: none;
    flex-direction: column;
    background-color: #64748b;
    width: 12rem;
}

.nav__items a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.nav__backdrop {
    display: none;
    background-color: #000;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech__first-content {
    color: #fff;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tech__header {
    margin: 1rem;
}

.tech__pagination {
    display: flex;
}

.tech__pagination a {
    text-decoration: none;
    color: #111;
    margin: 1rem;
}

.tech__pagination div {
    padding: 0.7rem;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.tech__title {
    opacity: 0.6;
}

h1 {
    margin: 0.5rem;
}

.tech__content-p {
    opacity: 0.6;
    padding: 2rem;
}

.tech__second-content {
    width: 16rem;
    margin-top: 2rem;
}

.tech__second-content img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .container {
        background-image: url("../../assets/technology/background-technology-tablet.jpg");
    }

    .nav__hamburger {
        display: none;
    }

    .nav__items {
        display: flex;
        flex-direction: row;
        width: 31rem;
        background-color: #192434;
    }

    .nav__logo {
        width: 3rem;
    }

    .tech__header {
        font-size: x-large;
        margin-top: 2rem;
    }

    .tech__title {
        font-size: larger;
    }

    h1{
        font-size: xx-large;
    }

    .tech__content-p {
        font-size: large;
        width: 35rem;
    }
}


@media (min-width: 1024px) {
    .container {
        background-image: url("../../assets/technology/background-technology-desktop.jpg");
    }

    .content {
        margin: 13rem 0;
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav__items {
        opacity: 0.6;
        width: 31rem;
        background-color: #192434;
    }

    .nav__items:first-child {
        border-bottom: 1px solid #fff;
    }

    .nav__items:hover {
        opacity: 0.9;
    }

    .nav__logo {
        width: 3rem;
        margin: 2rem;
    }

    .content {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 10rem;
    }

    .tech__first-content{
        align-items: flex-start;
        text-align: left;
    }

    .tech__header {
        font-size: xx-large;
        margin-top: 2rem;
    }

    .tech__title {
        font-size: x-larger;
    }

    h1{
        font-size: 3rem;
        margin-left: 0;
    }

    .tech__content-p {
        font-size: larger;
        width: 35rem;
        padding: 0;
    }

    .tech__pagination div {
        padding: 0.8rem 1.5rem;
        width: 4rem;
        font-size: x-large;
        height: 4rem;
    }

    .tech__second-content {
        width: 25rem;
    }
}